@model IEnumerable<GacxepBookstore.Models.Category>


<div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.NameCate, "GetProductsByCateId", "CustomerProducts", new { id = item.Id }, new { @class = "list-groupitem" })

        }


    </ul>

</div>
