@model GacxepBookstore.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 10px auto; width: 70%">
    <h2 style="text-align: center">CHI TIẾT CATEGORY</h2>

    <div>
        <h4>THÔNG TIN CHI TIẾT</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Mã Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDCate)
            </dd>

            <dt>
                Tên Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameCate)
            </dd>
        </dl>
    </div>
</div>
<p style="text-align: center">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-sucess"}) |
    @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-secondary"})
</p>
