
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">ALL BOOKS</h2>
    <hr />
    <div class="row">
        @foreach (var sanpham in Model)
        {
            <div class="col-lg-4 col-md-6 mb-3">

                <div style="box-sizing:border-box;min-height:275px;height:396px;width: 100%;float:left;margin-bottom:20px;position:relative;margin:0px 0px 20px;transition:all 0.3s ease 0s;">
                    <div style="box-sizing:border-box;position:relative;">
                        <a href="#"  style="box-sizing:border-box;width: 100%;text-align:center;position:relative;display:flex;-webkit-box-align:center;-webkit-box-pack:center;justify-content:center;min-height:189.38px;height:300px;align-items:flex-end;color:rgb(37, 37, 37);text-decoration:none solid rgb(37, 37, 37);background:rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;transition:all 0.15s ease-in-out 0s;background-color:rgba(0, 0, 0, 0);">
                            <img src="~/Images/@sanpham.ImagePro" style="box-sizing:border-box;max-height:100%;max-width:100%;display:block;box-shadow:rgb(174, 174, 174) 2px 2px 2px 0px;width: auto !important;border:0px none rgb(37, 37, 37);height: auto;vertical-align:middle;" />
                        </a>
                        <div style="box-sizing:border-box;text-align:center;position:absolute;left:50%;top:80%;transform:none;z-index:10;display:none;">
                            <form action="/cart/add" method="post" data-id="product-actions-33168924" enctype="multipart/form-data" style="box-sizing:border-box;margin-bottom:0px;">
                                <div style="box-sizing:border-box;width: 100%;text-align:center;display:flex;justify-content:center;align-items:center;transition:all 0.5s ease 0s;border-radius:30px;">

                                    <a title="Xem nhanh" href="/silent-cry-kodansha-1994" data-handle="silent-cry-kodansha-1994" style="box-sizing:border-box;width: 45px;height:45px;line-height:51px;text-align:center;background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;display:block;margin:0px 2px;font-size:16px;border-radius:5px;padding:0px;white-space:nowrap;cursor:pointer;border:0px none rgb(87, 84, 84);font-weight:400;letter-spacing:normal;transition:background-color 0.1s ease-in 0s;outline:rgb(87, 84, 84) none 0px;color:rgb(87, 84, 84);text-decoration:none solid rgb(87, 84, 84);margin-bottom:0px;vertical-align:middle;touch-action:manipulation;user-select:none;background-image:none;background-color:rgb(255, 255, 255);">
                                        <ion-icon name="eye" role="img" aria-label="eye" style="box-sizing:content-box;color:rgb(37, 37, 37);font-size:19px;visibility:visible;"></ion-icon>
                                    </a> <input type="hidden" name="variantId" value="100991836" style="box-sizing:border-box;display:none;width: auto;border-radius:0px;max-width:100%;font-size:15px;line-height:25.5px;font-family:'Product Sans';color:rgb(37, 37, 37);-webkit-font-smoothing:antialiased;text-size-adjust:100%;margin:0px;" /> <button title="Đặt hàng ngay" style="box-sizing:border-box;width: 45px;height:45px;line-height:50px;color:rgb(37, 37, 37);background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;border-radius:5px;position:relative;margin:0px 2px;padding:0px;display:block;text-align:center;white-space:nowrap;cursor:pointer;border:0px none rgb(37, 37, 37);font-weight:400;letter-spacing:normal;transition:background-color 0.1s ease-in 0s;outline:rgb(37, 37, 37) none 0px;appearance:none;font-size:14px;overflow:visible;font-family:'Product Sans';-webkit-font-smoothing:antialiased;text-size-adjust:100%;margin-bottom:0px;vertical-align:middle;touch-action:manipulation;user-select:none;background-image:none;text-transform:none;">
                                        <i style="box-sizing:border-box;"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="box-sizing:border-box;z-index:10;position:relative;padding:15px 0px 0px;float:left;width: 100%;text-align:left;">
                        <h3 style="box-sizing:border-box;font-size:14px;font-family:'Product Sans';line-height:22px;margin:0px;font-weight:400;word-break:break-word;text-align:center;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;height:22px;color:rgb(37, 37, 37);letter-spacing:0.14px;margin-top:0px;margin-bottom:0px;"><a href="#" style="box-sizing:border-box;color:rgb(37, 37, 37);text-decoration:none solid rgb(37, 37, 37);background:rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;transition:all 0.15s ease-in-out 0s;font-weight:400;background-color:rgba(0, 0, 0, 0);">@sanpham.NamePro</a></h3>
                        <div style="box-sizing:border-box;">
                            <div style="box-sizing:border-box;text-align:center;margin-top:3px;margin-bottom:5px;">


                                <div style="box-sizing:border-box;">
                                    <div style="box-sizing:border-box;display:inline-block;margin-right:7px;">
                                        <p style="box-sizing:border-box;color:rgb(73, 131, 116);font-size:16px;line-height:24px;display:block;font-weight:400;">@sanpham.Price VNĐ</p>
                                    </div>
                                </div>
                                <span style="box-sizing:border-box;color:rgb(247, 148, 29);">
                                    <link itemprop="availability" href="http://schema.org/InStock" style="box-sizing:border-box;" />
                                    In stock
                                </span>
                                @Html.ActionLink("CHI TIẾT", "Details", new { id = sanpham.ProductID }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

